# nsjail.cfg

name: "invariant"

# Mode: 2 for "once" mode, 1 for "daemon" mode
mode: ONCE
hostname: "invariant"

keep_env: false
keep_caps: false

envar: "PATH=/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin:/home/app/.rye/shims"

rlimit_as: 700
max_cpus: 2

clone_newnet: true
clone_newuser: true
clone_newns: true
clone_newpid: true
clone_newipc: true
clone_newuts: true
clone_newcgroup: true

mount_proc: true

# Bind mount directories (-R)
mount {
  src: "/bin"
  dst: "/bin"
  is_bind: true
  rw: false
}

mount {
    src: "/etc/ld.so.cache"
    dst: "/etc/ld.so.cache"
    is_bind: true
    rw: false
}

mount {
  src: "/lib"
  dst: "/lib"
  is_bind: true
  rw: false
}

mount {
  src: "/lib64"
  dst: "/lib64"
  is_bind: true
  rw: false
}

mount {
  src: "/usr"
  dst: "/usr"
  is_bind: true
  rw: false
}

mount {
  src: "/sbin"
  dst: "/sbin"
  is_bind: true
  rw: false
}

# Bind mount /dev/urandom (-R)
mount {
  src: "/dev/urandom"
  dst: "/dev/urandom"
  is_bind: true
  rw: false
}

mount {
  src: "/home/app/"
  dst: "/home/app/"
  is_bind: true
  rw: false
}

mount {
  dst: "/tmp"
  fstype: "tmpfs"
  rw: true
}