# nsjail.cfg

name: "invariant"

# Mode: 2 for "once" mode, 1 for "daemon" mode
mode: ONCE
hostname: "invariant"
cwd: "/home/app"

clone_newnet: true

keep_env: false
keep_caps: false

envar: "PATH=/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin:/home/app/.rye/shims"
envar: "HOME=/home/app"
envar: "NSJAIL=1"

rlimit_as: 4096
max_cpus: 2
time_limit: 0

clone_newuser: true
clone_newns: true
clone_newpid: true
clone_newipc: true
clone_newuts: true
clone_newcgroup: true

mount_proc: true

# Bind mount directories (-R)
mount {
  src: "/bin"
  dst: "/bin"
  is_bind: true
  rw: false
}

mount {
  src: "/etc/ld.so.cache"
  dst: "/etc/ld.so.cache"
  is_bind: true
  rw: false
}

mount {
  src: "/etc/ssl"
  dst: "/etc/ssl"
  is_bind: true
  rw: false
}

mount {
  src: "/lib"
  dst: "/lib"
  is_bind: true
  rw: false
}

mount {
  src: "/lib64"
  dst: "/lib64"
  is_bind: true
  rw: false
}

mount {
  src: "/usr"
  dst: "/usr"
  is_bind: true
  rw: false
}

mount {
  src: "/sbin"
  dst: "/sbin"
  is_bind: true
  rw: false
}

# Bind mount /dev/urandom (-R)
mount {
  src: "/dev/urandom"
  dst: "/dev/urandom"
  is_bind: true
  rw: false
}

mount {
    src: "/dev/null"
    dst: "/dev/null"
    is_bind: true
    rw: true
}

mount {
  src: "/home/app/.venv"
  dst: "/home/app/.venv"
  is_bind: true
  rw: false
}

mount {
  src: "/home/app/.rye"
  dst: "/home/app/.rye"
  is_bind: true
  rw: false
}

mount {
  src: "/home/app/pyproject.toml"
  dst: "/home/app/pyproject.toml"
  is_bind: true
  rw: false
}

mount {
  src: "/home/app/.python-version"
  dst: "/home/app/.python-version"
  is_bind: true
  rw: false
}

mount {
  src: "/home/app/server/ipc/invariant-ipc.py"
  dst: "/home/app/server/ipc/invariant-ipc.py"
  is_bind: true
  rw: false
}

mount {
  dst: "/tmp"
  fstype: "tmpfs"
  rw: true
}

mount {
  src: "/tmp/sockets/"
  dst: "/tmp/sockets/"
  is_bind: true
  rw: true
}

mount {
  src: "/tmp/python.lang.security"
  dst: "/home/app/r/python.lang.security"
  is_bind: true
  rw: false
}

mount {
  src: "/tmp/bash"
  dst: "/home/app/r/bash"
  is_bind: true
  rw: false
}

mount {
  dst: "/home/app/.semgrep"
  fstype: "tmpfs"
  rw: true
}